# ── Zookeeper ────────────────────────────────────────
ZOOKEEPER_CLIENT_PORT=2181

# ── Kafka ─────────────────────────────────────────────
KAFKA_BROKER_ID=1
KAFKA_EXTERNAL_PORT=9092
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

# ── PostgreSQL (credenciais compartilhadas) ───────────
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── product-db ────────────────────────────────────────
PRODUCT_DB_NAME=productdb
PRODUCT_DB_PORT=5432

# ── order-db ──────────────────────────────────────────
ORDER_DB_NAME=orderdb
ORDER_DB_PORT=5433

# ── admin-db ──────────────────────────────────────────
ADMIN_DB_NAME=admindb
ADMIN_DB_PORT=5434

# ── Redis ─────────────────────────────────────────────
REDIS_PORT=6379
